table {
  border: 8px solid black;
  width: 450px;
  height: 130px;
  border-style: double;
  padding: 10px;
  background-color: aliceblue;
}

td,
th {
  border: 1px solid black;
  padding-bottom: 2px;
}

.box {
  position: absolute;
  top: 35%;
  left: 35%;
  transform: translate(-50%, -50%);
  padding-left: 280px;
  padding-top: 80px;
}

h1 {
  padding-top: 1px;
  text-align: center;
  background-color: red;
  color: white;
  width: 450px;
  height: 40px;
  border-style: double;
}

td:nth-child(odd) {
  width: 140px;
}

td:nth-child(even) {
  text-align: center;
}

body {
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://png.pngtree.com/thumb_back/fh260/back_our/20190617/ourmid/pngtree-taobao-vector-cartoon-neat-study-desk-table-home-illustration-table-lamp-image_130341.jpg);
}
footer {
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 5%;
}
